<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body class="d-flex flex-column vh-100">
    <%- include('partials/nav.ejs') %>
    <h1 class="mt-2">The Solar System</h1>
    <div class="container text-start mt-5">
        <h2 class="mb-3 text-center">Planet <%= planetName %></h2>
        <p><b>Description:</b> <%= planetInfo.description %></p>
        <p><b>Radius:</b> <%= planetInfo.radius %></p>
        <p><b>Distance from Sun:</b> <%= planetInfo.distanceFromSun %></p>
    </div>
    <img src="<%= planetInfo.image %>">
    <%- include('partials/footer.ejs') %>
</body>

</html>