<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Solar System</title>
</head>

<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>Planet <%= planetName %></h2>
    <p>Desc: <%= planetInfo.description %></p>
    <p>Radius: <%= planetInfo.radius %></p>
    <p>Distance from Sun: <%= planetInfo.distanceFromSun %></p>
    <img src="<%= planetInfo.image %>">
</body>

</html>